.form-container {
    position: relative;
    margin: auto;
    padding-bottom: 65px;
    max-width: 450px;
}

.form-container div {
    background-color: #251e3eBD;
    padding: 25px;
    border-radius: 10px;
}

.form-container p {
    margin: 25px 0;
    cursor: pointer;
    color: #ff3366;
}

.form-container p.error-message, p.response-message {
    cursor: default;
    padding: 25px;
    background-color: #050408;
    color: #ff3366;
    border-radius: 5px;
}

p.response-message {
    color: #7f7cc3;
}

input, button, textarea {
    border: 2px solid whitesmoke;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.269);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    /* margin: 0 10px 0 0; */
    transition: all 0.3s ease-in;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#auth-wrap input:first-of-type {
    margin-right: 10px;
}

#auth-wrap button:first-of-type {
    margin-left: 10px;
}

textarea {
    position: relative;
}

input:hover {
    background-color: #f5f5f5ba;
}

button {
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background-color: #e4ab37;
    border-color: #e4ab37;
}

button:hover {
    background-color: #ff3366;
    border-color: #ff3366;
}

.form-container button {
    margin-right: 0;
    width: 50px;
}

#profile-form button {
    max-width: 100px;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

/* TINY PHONES */


    #auth-wrap input, #auth-wrap button {
        margin: 0 0 10px 0 !important;
        width: 100%;
    }
