@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville:400i');
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    background: #31373E;
    color: whitesmoke;
    font-size: 16px;
}

#outer-container {
    height: 100vh;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    margin: 25px 0;
}
h1:first-of-type, h2:first-of-type, h3:first-of-type {
    margin-top: 0px;
}

header {
    text-align: center;
    color: #fCb21C;
    width: 100%;
    height: 65px;
    background-color: rgb(29, 32, 36);
}

header h1 {
    line-height: 65px;
    text-align: center;
}

main {
    max-width: 650px;
    padding: 25px;
    margin: auto;
    overflow: auto;
    text-align: center;
}